*{
	margin: 0;
	padding: 0;
}
body{
	box-sizing: border-box;
	font-family: sans-serif;
	background: rgba(0, 0, 0, .2);
}
.wrapper{
	
}
.wrapper .header{
	height: 6rem;
	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 2rem;
	background: #fff;
}
.header h1{
	font-size: 2rem;
	/*letter-spacing: 1rem;*/
	color: grey;
}
.header h3{
	position: relative;
	top: 2rem;
	font-size: 1.5rem;
	margin-left: 1rem;
}
.header .admin-profile{
	position: relative;
	right: 5rem;
	width: 20rem;
	height: 6rem;
	display: inline-flex;
	align-items: center;
	justify-content: space-evenly;
	color: grey;
}
.admin-profile img{
	border-radius: 50%;
}
.container{
	position: relative;
	margin: 1rem 0;
	height: 40rem;
	width: 90rem;
	border-top: 15px solid grey;
	border-bottom: 2px solid grey;
	border-radius: .2rem;
	background: #fff;
	transition: 1s;
	overflow: hidden;
}
.container .title-bar{
	height: 3rem;
	width: inherit;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid lightgrey;
}
.title-bar span{
	margin-left: 1rem;
	font-size: 1.3rem;
	font-weight: bold;
	color: grey;
}
.title-bar .title-btn{
	height: inherit;
	width: 6rem;
	display: inline-flex;
	align-items: center;
	justify-content: space-evenly;
	font-weight: bolder;
}
.title-bar .title-btn > div{
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	cursor: pointer;
	transition: 1s;
	/*color: rgb(237, 28, 36);*/
}
.next-contain{
	height: 25rem;
	width: 90rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	overflow: hidden;
	transition: 1s;
}
.min{
	height: 3rem;
	overflow: hidden;
	transition: 1s;
}
.rotate{
	transform: rotate(180deg);
}
.next-contain .box-1, .box-2{
	height: 20rem;
	width: 10rem;
}
.next-contain header{
	font-weight: 900;
	font-size: 1.2rem;
	width: 15rem;
}
.next-contain .box-1{
	width: 50%;
}
.next-contain .box-1 .box-1-inner select{
	width: 50%;
	height: 2rem;
	font-size: 1rem;
	border: none;
	color: #fff;
	background: #333;
}
.next-contain .box-1 .box-1-inner select option{
	color: grey;
}
.next-contain .box-1 .box-1-inner .over-all{
	clip-path: circle();
	border: 2rem solid grey;
	height: 8rem;
	width: 8rem;
	border-radius: 50%;
	-webkit-mask-size: 20% cover;
	mask-size: 20% cover;
	font-size: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-width: 2rem solid green;

}
.next-contain .box-2{
	width: 40%;

}
.next-contain .box-2 .box-2-inner{
	position: relative;
	top: 1rem;
	height: 80%;
}
.next-contain .box-2 .stats{
	border: 5psx solid darkred;
	position: relative;
	top: .8rem;
	height: 3.5rem;
	width: 35rem;
	display: inline-block;
	align-items: center;
	justify-content: center;
}
.box-2 .stats .st-next{
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: inherit;
	font-weight: bold;
}
.stats .st-container{
	position: relative;
	top: .5rem;
	height: .5rem;
	background: lightgrey;
	width: inherit;
	display: inline-flex;
	justify-content: left;
}
.stats .st-container .st-inner1, .st-inner2, .st-inner3, .st-inner4 {
	height: inherit;
	width: 0%;
}
.st-inner1{
	background: tomato;
}
.st-inner2{
	background: green;
}
.st-inner3{
	background: darkorange;
}
.st-inner4{
	background: deepskyblue;
}
.container .next-contain-next{
	position: relative;
	height: 10rem;
	width: inherit;
	display: inline-flex;
	align-items: center;
	justify-content: space-evenly;
}
.next-contain-next .box{
	height: 8rem;
	width: 13rem;
	font-size: 1.5rem;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}
.next-contain-next .box p{
	position: relative;
	top: 2rem;
	font-weight: bolder;
	font-size: 2rem;
}
.next-contain-next .bx-1{
	border-left: 1rem solid tomato;
}
.next-contain-next .bx-2{
	border-left: 1rem solid green;
}
.next-contain-next .bx-3{
	border-left: 1rem solid darkorange;
}
.next-contain-next .bx-4{
	border-left: 1rem solid deepskyblue;
}



.container-1{
	height: 3rem;
	margin: 1rem 0;
	width: 90rem;
	border-top: 15px solid grey;
	border-bottom: 2px solid grey;
	border-radius: .2rem;
	background: #fff;
	transition: 1s;
	overflow: hidden;
}
.container-1 .title-bar{
	height: 3rem;
	width: inherit;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid lightgrey;
}

.container-2{
	height: 3rem;
	margin: 1rem 0;
	width: 90rem;
	border-top: 15px solid grey;
	border-bottom: 2px solid grey;
	border-radius: .2rem;
	background: #fff;
	transition: 1s;
	overflow: hidden;
}
.container-2 .title-bar{
	height: 3rem;
	width: inherit;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid lightgrey;
}